@media screen and (max-width:576px) {

     /* banner resp  */

    
    .banner{

        width: auto;
        height:480px;
    }

    .banner h1{
      font-size: 30px;
      position: relative;
      top:10%;
    }
    .banner h5{
        position: relative;
        top:10%
    }
    .select{
        display: flex;
        flex-direction: column;
        position: relative;
        top:20%;
        margin-left: 0px;
        width: 900px;
        align-items: normal;
    }
    .select input , select{
        width: 300px;
        margin-left: 150px;
    }
    .select button{
        width: 300px;
        margin-left:90px;
    }

    /* navigation bar styles */

    .nav li{
        display: none;
    
    }

    /* popular section */
    .popular{
        display: flex;
        flex-direction: column;
    }
    .text{
        width: 100%;
        margin-bottom: 20px;
    }
    /* destination */
.destination{
    margin-top: 600px;
}
    /* image line  */
    .img1{
        display:flex;
        flex-direction: column;
        gap: 20px;
        height: auto;
    }
    .img1 img{
        width:90%;
        margin-left:30px ;
    }
      
    .img2{
        display:flex;
        flex-direction: column;
        
    }
    .img01 img{
        width: 415px;
        height: 200px;
        margin: 0px 30px;
    }
    .img02 img{
        width: 415px;
        height: 200px;
        margin: 0px 30px;
    }
    .img03 img{
        width: 415px;
        height: 200px;
        margin: 0px 30px;
    }
    .img3{
        display: flex;
        flex-direction: column; 
    }
.img04 img{
    width: 415px;
    height: 200px;
    margin: 0px 30px;

}
.img05 img{
    width: 415px;
    height: 200px;
    margin: 0px 30px;

}
 /* service section */
.service{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.hotel{
    width: 415px;
        height: 300px;
        margin: 0px 30px;
}
.world{
    width: 415px;
    height: 300px;
    margin: 0px 30px;   
}
.service1{
    height: auto;
}
.price{
    width: 415px;
    height: 300px;
    margin: 20px 30px; 
}
/* banner 1  */
.align{
    width: 400px;
    position: relative;
    left: 5%;
}
/* banner2 style */
.align1{
    width: 400px;
    position: relative;
    left: 5%;
}
/* button */
.button {
    margin-right:45%;
}
/* video section respon */
.video{
    display: flex;
    flex-direction: column;

}
.picture img{
    width: 415px;
    height: 200px;
    margin: 0px 30px;  
}
/* subscribe section respon */
 .subscribe{
    display: flex;
    flex-direction: column;
 }
 .form{
    width: 430px;
    height: 353px;
    flex-shrink: 0;
 }
 .hill{
    width: 420px;
height: 300px;
flex-shrink: 0;
 }
.hill-container{
width: 200px;
height: 79.268px;
transform: rotate(-19.628deg);
}

}

    
